<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>337609105447-5g3lkl7pjqpnvm5q2lbkspqt0cpdo4g5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.337609105447-5g3lkl7pjqpnvm5q2lbkspqt0cpdo4g5</string>
	<key>API_KEY</key>
	<string>AIzaSyA9pHC7kuzpjY8J8d_B48p073jabftSqkY</string>
	<key>GCM_SENDER_ID</key>
	<string>337609105447</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mil.BBNDaily</string>
	<key>PROJECT_ID</key>
	<string>bbn-daily</string>
	<key>STORAGE_BUCKET</key>
	<string>bbn-daily.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337609105447:ios:5938f69308d41aee8a2e02</string>
</dict>
</plist>